<a href="https://colab.research.google.com/github/its-mayankanand/Machine_Learning_2025/blob/main/2.3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operators in Python

1. Arithmetic Operator
2. Assignment Operator
3. Comparison Operator
4. Logical Operator
5. Identity Operator
6. Membership Operator

In [ ]:
# 1 . Arithmetic Operator
num_1 = 20
num_2 = 10

#additon
sum = num_1 + num_2
print(sum)

#subtraction
sub = num_1 - num_2
print(sub)

#multiplication
mul = num_1 * num_2
print(mul)

#division
quo = num_1 / num_2
print(quo)

#exponent
exp = num_1 ** num_2  #20 ^ 10
print(exp)

# modulus
mod = num_1 % num_2
print(mod)

30
10
200
2.0
10240000000000
0

In [ ]:
# 2 . Assignment Operators
a = 5
print(a)

5

In [ ]:
a = 5
a += 5     # a = a + 5
print(a)

10

In [ ]:
b = 5
b -= 2
print(b)

3

In [ ]:
# 3 . Comparison Opearator
a = 5
b = 10
print(a<b)
print(a == b)
print(a>5)
print(a != b)

True
False
False
True

In [ ]:
# 4 . Logical Operator (and,or,not)
a = 10
print(a > 20 and a > 5)
print(a > 20 or a > 5)
print(not(a > 8 and a > 5))

False
True
False

In [ ]:
# 5 . Identity Operator ( is , is not)
x = 5
y = 5
print(x is y)  # True
print(x is not y)  # False

x = 5
y = 6
print(x is y)
print(x is not y)

True
False
False
True

In [ ]:
# 6 . Membership Operator ( in , not in)
a = 5
b = 10

c = [1,2,3,4,5]
print(a in c)
print(b in c)
print(a not in c)
print(b not in c)

True
False
False
True

# if else statement

In [ ]:
#simple if else statement
a = 30
b = 50
if(a>b):
  print('a is the greatest number')
else:
  print('b is the greatest number')

b is the greatest number

In [ ]:
a = int(input("Enter the first no"))   # this is using user input in this we are taking user input
b = int(input("Enter the second no"))
if(a>b):
  print('a is the greatest no')
else:
  print('b is the greatest no')

Enter the first no23
Enter the second no21
a is the greatest no

In [ ]:
# if elif else statement
a = 15
b = 25
c = 30
if(b<a>c):
  print('a is the greatest no')
elif(a<b>c):
  print('b is the greatest no')
else:
  print('c is the greatest no')

c is the greatest no

In [ ]:
# nested if statement
a = 20
b = 40
c = 60
if(a>b):
  if(a>c):
    print('a is the greatest')
  else:
    print('c is the greatest')
else:
  if(b>c):
    print('b is the greatest')
  else:
    print('c is the greatest')

c is the greatest

# Loops in Python

In [2]:
#if have to print 5 times
# we will use loop
for i in range(5):
  laptop_price = int(input("Enter the price of laptop:"))

Enter the price of laptop:234
Enter the price of laptop:123
Enter the price of laptop:123
Enter the price of laptop:1234
Enter the price of laptop:12345

In [3]:
#print these elements individually
numbers = [50,100,150,200]
print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])

50
100
150
200

In [4]:
# to print individually shortcut will be using loops
numbers = [50,100,150,200]
for i in numbers:
  print(i)

50
100
150
200

In [7]:
# while loop
# uses when u are not sure about the number of execution times
i = 1
while i<=10:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10

In [8]:
# what happens when condition is not true
i = 5
while i<3:       #here nothing happens
  print(i)
  i += 1