<a href="https://colab.research.google.com/github/its-mayankanand/Machine_Learning_2025/blob/main/2_2_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# print function

In [ ]:
print("Machine Learning")

Machine Learning

In [ ]:
print(8+3)

11

In [ ]:
print(3)

3

# Basic DataTypes

1.int
2.float
3.str

In [ ]:
type(8)

int

In [ ]:
type(5.3)

float

In [ ]:
type("english")

str

# Constants and Variables

In [ ]:
superhero = "Iron Man"
print(superhero)

Iron Man

we can change the value of superhero which is a variable but not in case of constants

In [ ]:
superhero = "Captain America"
print(superhero)

Captain America

We can also assign multiple values in multiple variables in the same line

In [ ]:
hero1,hero2,hero3 = "Iron Man","Bat Man","Super Man"
print(hero1)
print(hero2)
print(hero3)

Iron Man
Bat Man
Super Man

Same value to different variable

In [ ]:
x = y = z = 23
print(x)
print(y)
print(z)

23
23
23

# Input Function

In [ ]:
number1 = input("Enter first number")
number2 = input("Enter second number")
sum = number1 + number2
print(sum)

Enter first number23
Enter second number23
2323

In [ ]:
number1 = int(input("enter first number"))
number2 = int(input("enter second number"))
sum = number1 + number2
print(sum)

enter first number23
enter second number23
46

# Changing the data type in python

In [ ]:
num  = 5
print(float(num))

5.0

# Basic Datatypes in Python
1. Integer
2. Floating Point
3. Complex
4. Boolean
5. String

In [ ]:
# 1 Integer
a = 5
print(a)

5

In [ ]:
type(a)

int

In [ ]:
# 2 Floating
b = 2.3
print(b)
type(b)

2.3

float

In [ ]:
# 3 Complex (real + imaginary)
c = 1 + 3j
print(c)
type(c)

(1+3j)

complex

Conversion of one datatype to other

In [ ]:
# int to float
x = 10
print(x)
type(x)

10

int

In [ ]:
y = float(x)
print(y)
type(y)

10.0

float

In [ ]:
# Float to int
x = 5.88
print(x)
type(x)

5.88

float

In [ ]:
y = int(x)
print(y)
type(y)

5

int

# Boolean
1. True
2. False

In [ ]:
a = True
print(a)
type(a)

True

bool

In [ ]:
b = False
print(b)
type(b)

False

bool

In [ ]:
a = 7 < 3
print(a)
type(a)

False

bool

In [ ]:
a = 7 > 3
print(a)
type(a)

True

bool

# String

In [ ]:
print("Machine Learning")

Machine Learning

In [ ]:
print("Machine Learning")

Machine Learning

In [ ]:
print('Machine Learning')

Machine Learning

In [ ]:
my_string = "Machine Learning"
print(my_string)
type(my_string)

Machine Learning

str

In [ ]:
print("Hello"*5)

HelloHelloHelloHelloHello

In [ ]:
print("Hello " * 5)

Hello Hello Hello Hello Hello

Slicing

In [ ]:
my_string = "Programming" #values from index 1 to 5-1 will be sliced
print(my_string[1:5])

rogr

In [ ]:
my_string = "Programming"
print(my_string[0:5])

Progr

In [ ]:
# step
print(my_string[0:10:2])

Pormi

String Concatenation

In [ ]:
word_1 = 'Machine'
word_2 = 'Learning'
print(word_1 + word_2)

MachineLearning

In [ ]:
word_1 = 'Machine'
word_2 = ' Learning'
print(word_1 + word_2)

Machine Learning

# Objects

Types of Objects in Python:
1. Immutable Objects
2. Mutable Objects

Immutable Objects:
1. int
2. float
3. string
4. bool
5. tuple

Mutable Objects:
1. List
2. Set
3. Dictionary

List

In [ ]:
# list should be included in the square bracket
my_list = [1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [ ]:
# lists can have multiple data types
my_list = [2,3,1.8,'English',True]
print(my_list)
type(my_list)

[2, 3, 1.8, 'English', True]

list

In [ ]:
# Lists are mutable --> they are changable
# add elements to list (append function)
my_list = [2,3,1.8,'English',True]
my_list.append(6)
print(my_list)

[2, 3, 1.8, 'English', True, 6]

In [ ]:
# print elements of a list using their index
print(my_list[0])
print(my_list[2])

2
1.8

In [ ]:
# lists allows duplicate values or repeted values
list_1 = [1,2,3,4,5,12,2,3]
print(list_1)

[1, 2, 3, 4, 5, 12, 2, 3]

In [ ]:
# can check the size of the list
print(len(list_1))

8

In [ ]:
# initiating an empty list
list_2 = []
print(list_2)

[]

In [ ]:
list_2.append(5)
print(list_2)

[5]

In [ ]:
# delete an item in a list
list_2 = [2,3,1.8,'English',True,6]
print(list_2)

del list_2[2]
print(list_2)

[2, 3, 1.8, 'English', True, 6]
[2, 3, 'English', True, 6]

In [ ]:
# join 2 lists
list_3 = [1,2,3,4,5,6]
list_4 = [6,7,8,9,10]
list_5 = list_3 + list_4
print(list_5)

[1, 2, 3, 4, 5, 6, 6, 7, 8, 9, 10]

Tuple

In [1]:
tuple_1 = (2,3,4,5)
print(tuple_1)
type(tuple_1)

(2, 3, 4, 5)

tuple

In [2]:
# tuple allows multiple data type
tuple_2 = (1,2,3.5,'Machine',False)
print(tuple_2)
type(tuple_2)

(1, 2, 3.5, 'Machine', False)

tuple

In [3]:
# converting a list to a tuple
my_list = [3,4,5,6]
print(my_list)

my_tuple = tuple(my_list)
print(my_tuple)

[3, 4, 5, 6]
(3, 4, 5, 6)

In [4]:
# using indexing to print
print(my_tuple[0])
print(my_tuple[1])

3
4

Tuples are Immutable

In [5]:
my_tuple.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [6]:
print(len(my_tuple))

4

# Set

In [7]:
# set enclosed in curly bracket
my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [8]:
# set doesnot support indexing if try then it will give error
print(my_set[0])

TypeError: 'set' object is not subscriptable

In [9]:
#converting a list to a set
list_5 = [4,5,6,7,8]
x = set(list_5)
print(x)

{4, 5, 6, 7, 8}

In [10]:
# Set doesnot allow duplicate values or repeated values
# But list and tuples allows duplicate values
set_3 = {1,2,3,4,5,1,2,3}
print(set_3)

{1, 2, 3, 4, 5}

Dictionary

In [1]:
#Key value pair enclosed in curly brackets
my_dictionary = {'name':'Mayank','age':22, 'country':'India'}
print(my_dictionary)
type(my_dictionary)

{'name': 'Mayank', 'age': 22, 'country': 'India'}

dict

In [2]:
# we can call value using key
print(my_dictionary['name'])
print(my_dictionary['age'])
print(my_dictionary['country'])

Mayank
22
India

In [3]:
# it does not allow duplicate values
# Hence conclusion is list and tuple allows duplicate values
# And set and dictionary does not allows duplicate values
# These datatypes are similar to arrays

In [4]:
# Dictionary does not allow duplicate values
dictionary_2 = {'name':'Mayank','age':22, 'country':'India','name':'Mayank','age':22, 'country':'India'}
print(dictionary_2)

{'name': 'Mayank', 'age': 22, 'country': 'India'}